<style>
  li {
    display: inline;
    padding-right: 20px;
  }
</style>
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <ngb-tabset (tabChange)="onTabChange($event)">
    <ngb-tab id="maps" title="Maps">
      <ng-template ngbTabContent>
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>


    <ngb-tab id="charts" title="Charts" [routerLink]="['charts']">
      <ng-template ngbTabContent style="padding:5px">
        <router-outlet></router-outlet>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>