<style>
  canvas {
    padding-top: 50px;
  }
</style>
<div>
  <div style="height:50px;width:100px;float:left;padding:15px">
    <a [routerLink]="['/charts']">Go Back</a>
  </div>
  <div style="height:50px;width:600px;float:left;padding:15px">
    <span style="padding-right: 10px">
      <b>Select Emotion:</b>
    </span>
    <select (change)="emotionSelect($event.target.value)">
      <option *ngFor="let emotion of emotions" value={{emotion}}>
        {{emotion}}
      </option>
    </select>
  </div>

  <div style="height:50px;width:600px;float:left;padding:15px">
    <span style="padding-right: 10px">
      <b>Select Attribute:</b>
    </span>
    <select (change)="attrSelect($event.target.value)">
      <option *ngFor="let attr of attrs" value={{attr}}>
        {{attr}}
      </option>
    </select>
  </div>

  <div id="chart1" style="height:500px;width:700px;float:left">
    <canvas id="canvas-left">{{ chart-left }}</canvas>
  </div>

  <div id="chart2" style="height:500px;width:700px;float:left">
    <canvas id="canvas-right">{{ chart-right }}</canvas>
  </div>

</div>