<style>
  div {
    width: 700px;
    float: left;
  }

  canvas {
    padding-top: 50px;
  }
</style>

<div style="height:50px">
  <select (change)="emotionSelect($event.target.value)">
    <option *ngFor="let emotion of emotions" value={{emotion}}>
      {{emotion}}
    </option>
  </select>
</div>

<div style="height:50px">
  <select (change)="attrSelect($event.target.value)">
    <option *ngFor="let attr of attrs" value={{attr}}>
      {{attr}}
    </option>
  </select>
</div>

<div id="chart1" style="height:500px">
  <canvas id="canvas-left">{{ chart-left }}</canvas>
</div>

<div id="chart2" style="height:500px">
  <canvas id="canvas-right">{{ chart-right }}</canvas>
</div>